<section class="flex flex-col items-center flex-1 min-h-full">
  <div class="x-container">

    <div class="flex w-full justify-between items-center">
      <h1
        class="hds-typography-display-300 shrink-0 hds-font-weight-semibold hds-foreground-strong"
      >{{@results.nbHits}} documents matching “{{@query}}”</h1>
      {{#if (and this.firstPageIsShown this.queryIsProductName)}}
        <div data-test-results-product-link class="flex space-x-2">
          <LinkTo
            @route="authenticated.all"
            @query={{hash product=(array this.capitalizedQuery)}}
            class="text-color-foreground-action no-underline flex items-center"
          >
            View all
            <FlightIcon
              @name={{or (get-product-id @query) "folder"}}
              class="mr-1 ml-2"
            />
            <span class="font-semibold mr-1.5">
              {{this.capitalizedQuery}}
            </span>
            documents
            <FlightIcon @name="arrow-right-circle" class="ml-1.5" />
          </LinkTo>
        </div>
      {{/if}}
    </div>
    <div class="flex flex-col space-y-12 w-full py-10">
      <div class="tile-list">
        {{#each @results.hits as |doc index|}}
          <Doc::Tile
            @avatar="{{get doc.ownerPhotos 0}}"
            @docID="{{doc.objectID}}"
            @isResult="{true}"
            @owner="{{get doc.owners 0}}"
            @productArea="{{doc.product}}"
            @snippet="{{doc._snippetResult.content.value}}"
            @status="{{lowercase doc.status}}"
            @title="{{doc.title}}"
          />
        {{/each}}
      </div>

    </div>

    <Pagination
      @currentPage={{(add @results.page 1)}}
      @nbPages={{@results.nbPages}}
    />
  </div>

</section>
